.product_container {
  display: block;
  padding: 0;
  flex-wrap: nowrap;
}

.product_shipping {
  padding-left: 22%;
  padding-top: 10%;
}

.product_shipping_inner {
  display: flex;
  width: 80%;
  margin-top: 5%;
  justify-content: center;
}

.product_shipping_cart {
  display: block;
  width: 250px;
  padding: 40px 0;
  font-size: 30px;
  text-align: center;
  background: #f1f6ff;
  border-radius: 5px;
  box-shadow: 0 0 20px #ccc;
}

.product_shipping_cart:nth-child(2) {
  transform: scale(1.1);
}

.checkout_check {
  color: black;
}

.checkout_check:hover {
  border-bottom: 2px solid black;
}
