div {
  margin-bottom: 20px;
}

img {
  height: 500px;
  transition: all 150ms ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

h3,
h4,
p {
  padding: 10px;
}

button {
  margin: 10px;
  font-size: 28px;
}

.product_container {
  padding: 0;
  flex-wrap: nowrap;
}

.product_details {
  display: flex;
  font-size: 28px;
  padding-left: 22%;
  padding-top: 10%;
}

.product_inner {
  padding-left: 30px;
}

.best_price {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  background: lightgreen;
  width: 220px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;

  border-radius: 5px;
  margin-bottom: 0;

  box-shadow: black 2px 2px 2px 0;
  transition: all 150ms ease-in-out;
}

.best_price:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.best_price_inner {
  margin-bottom: 0;
  border-right: 3px solid green;
}

.buy {
  display: flex;
  align-items: center;
  width: 85px;
  font-size: 38px;
  margin-bottom: 0;
}

.best_price_text {
  font-size: 14px;
  padding-bottom: 0;
}

.best_price_text:before {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  margin: -14px auto 5px;
  background: black;
}
