div {
  margin-bottom: 20px;
}

img {
  height: 20vh;
}

.product_inner {
  padding-left: 20px;
}

.product_container {
  padding: 0;
  flex-wrap: nowrap;
}

.cart {
  flex: 1 0 25%;
  height: 30vh;

  padding: 0 15px;
  margin-bottom: 15px;
  cursor: pointer;

  transition: all 150ms ease-in-out;
}

.cart:hover {
  transform: scale(1.1);
  z-index: 10;
}

.block_center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 90%;
  font-size: 20px;
  align-items: center;

  padding-top: 10%;
  padding-left: 22%;
}

.invisible {
  flex: 1 0 33%;
  margin-bottom: 50px;
}

.invisible img {
  height: 24vh;
}

.toggle {
  margin-left: 15%;
}

